/* body {
    align-items: center;
    background-color: #150476;
    display: flex;
    justify-content: center;
    height: 100vh;
  }
   */
.detailContainer{
    
    color: #eee;
    font-family: sans-serif;
    width: 1000px;
    height: 500px;
    margin: 10px;
    background-color: rgba(40, 5, 241, 0.319);
    border: 2px solid rgb(0, 0, 255);
    border-radius: 10px;
    padding: 0px;
}

