.cardContainer{
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    /* -moz-osx-front-smoothing:grayscale; */
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.cardContainer:hover {
    transform: scale(1.05);
}