body{
    background-image: url("../../img/poke4.jpg");
}
.homeContainer{
    display: flex;
    flex-direction:column;
    align-items: center;

}
.pagin {
    flex-direction: column;
    padding: 10px;
}
